@model IEnumerable<DogOwnerTracker.Models.Dog>

@{
    ViewData["Title"] = "Index";
}

<h1>Gone to the Dogs</h1>

<p>
    <a asp-action="Create">Enter Dog Info</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DogName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Breed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.OwnerID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DogID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DogID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DogID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
